name: Block Direct Push to Master

on:
  push:
    branches:
      - master

jobs:
  block-direct-push:
    runs-on: ubuntu-latest
    steps:
      - name: Prevent direct pushes to master
        run: |
            echo "Direct pushes to the master branch are not allowed. Please create a pull request instead."
            && exit 1
